.feed {
    display: flex;
    /* flex: 4; */
    width: 40%;
    padding: 30px 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: hotpink; */
}

.setup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}